html {
    font-family: 'Russo One', sans-serif;
    background-color: #ffffff;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}

.inputPass {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.upperCase, .digits, .lowerCase, .symbols {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 30px;
    width: 350px;
}

.lowerCase, .symbols {
    position: relative; left: 200px; bottom: 58px;
}

.upperCase, .digits {
    position: relative; right: 115px;
}

.length {
    margin-top: 15px;
    height: 50px;
    text-align: center;
    display: block;
    
}

#length {
    width: 300px;
}

.buttonPass {
    text-align: center;
    display: block;
}

.button {
    margin-top: 10px;
    width: 250px;
}

.pasLen {
    position: relative; bottom: 10px;
    font-size: 15px;
    color:rgb(95, 95, 95);
}

#lengthValue {
   text-align: center; 
   margin-left: auto;
   margin-right: auto;
   position: relative; bottom: 6rem;
}
.time {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative; bottom: 28rem;
}